/* CAPA */

/* body{
    background-image: url(../Imagens/Pag1_inicio/img1-theo2.png);
} */

/* PARTE 1 - CAPA */
.pt1_capa{
    background-image: url(../Imagens/Pag1_inicio/img1-theo2.png);
    background-repeat: no-repeat;  /* Evita repetição */
    background-size: cover;  /* Faz a imagem cobrir toda a seção */
    background-position: center;  /* Centraliza a imagem */
    height: 864px;
    padding: 0 16%;
}

h2{
    text-align: left;
}

.legenda{
    background-color: var(--marrom_claro);
    color: var(--cinza_claro);
    font-size: 18px;
    margin: 70px 0 0 0;
}


/* PARTE 2 */
.pt2{
    background-image: url(../Imagens/Pag1_inicio/bg1.png);
    background-size: cover; 
    background-position: center; 
    display: flex;
    align-items: center;
}

#texto_e_botao{
    padding-right: 16%;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

#texto_e_botao > p{
    max-width: 600px;
    font-size: 26px;
}


/* PARTE 3 - QUEM SOU */
.pt3_quemsou{
    display: flex;
    align-items: center;
    padding: 140px 16%;
}

.pt3_quemsou h3{
    margin-bottom: 35px;
}

.pt3_quemsou div + figure img{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 60px;
    margin-left: 100px;
}


/* PARTE 4 - FOTOS */
.pt4_fotos{
    background-image: url(../Imagens/Pag1_inicio/bg2.png);
    background-repeat: no-repeat;  
    padding: 70px 16% 140px 16%;
}

.pt4_fotos p{
    background-color: var(--marrom_escuro);
    color: var(--cinza_claro);
    width: max-content;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 22px;
    margin: 0 auto;
}

.pt4_fotos ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
}

.pt4_fotos li img{
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 70px;
}