/* 
CORES:
cinza claro: #F5F5F5
cinza escuro: #4A4945
azul escuro: #4D5C7E
azul médio: #5583A5
azul claro: #83A8C3
marrom claro: #9D5022
marrom escuro: #3B1F13
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GERAIS */
body{
    font-family: "Bellota Text", serif;
    font-weight: 400;
    font-style: normal;
    color: #4A4945;
    background-color: #F5F5F5;
    font-size: 18px;
}

h2, h3{
    font-family: "Rubik Mono One", serif;
}

h2{
    color: #F5F5F5;
}

h3{
    color: #4D5C7E;
}

a{
    text-decoration: none;
    color: #4A4945;
}



/* MENU */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 16%;
    background-color: #83A8C3;
    /* border-radius: 0 0 30px 30px; */
    /* margin: 0 16%; */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.menu_pags li{
    list-style-type: none;
    display: inline;
    font-weight: 700;
    color: #4D5C7E;
    font-size: 14px;
    padding-left: 40px ;
}

header nav ul{
    margin: 0;
}

/* FOOTER */
footer{
    background-color: #83A8C3;
    margin-bottom: 0;
    padding: 0 16%;
}

#logo_e_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.redes_sociais li{
    list-style-type: none;
    display: inline;
}

footer p{
    text-align: center;
    font-size: 16px;
}



/* FONTES */

/* -> BELLOTA
.bellota-text-light {
    font-family: "Bellota Text", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .bellota-text-regular {
    font-family: "Bellota Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .bellota-text-bold {
    font-family: "Bellota Text", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .bellota-text-light-italic {
    font-family: "Bellota Text", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .bellota-text-regular-italic {
    font-family: "Bellota Text", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .bellota-text-bold-italic {
    font-family: "Bellota Text", serif;
    font-weight: 700;
    font-style: italic;
  }

  -> RUBIK
  .rubik-mono-one-regular {
  font-family: "Rubik Mono One", serif;
  font-weight: 400;
  font-style: normal;
} */